| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Setup{% endblock %}
| {% block content %}
main#setup
  {% include "messages.jade" %}
  section.section
    h1.title Setup

    form(action="/setup", method="POST", name="setup")
        {{ form.hidden_tag() }}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.name(class="is-rounded is-medium", rows=8, placeholder="Name") }}
                        | {% for error in form.name.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.email_address(class="is-rounded is-medium", rows=8, placeholder="Email Address") }}
                        | {% for error in form.email_address.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.password(class="is-rounded is-medium", rows=8, placeholder="Password") }}
                        | {% for error in form.password.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        input.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded(type='submit' value='Create Admin Account')

| {% endblock %}
| {% block page_js %}
| {% endblock %}


