| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Add Dojo{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    h1.title Add Dojo Connection

    form(action="/dojo/add", method="POST", name="add_dojo")
        {{ form.hidden_tag() }}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.onion(class="is-rounded is-medium", rows=8, placeholder="Onion Address") }}
                        | {% for error in form.onion.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.api_key(class="is-rounded is-medium", rows=8, placeholder="API Key") }}
                        | {% for error in form.api_key.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        input.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded(type='submit' value='Add Dojo')


| {% endblock %}
| {% block page_js %}
| {% endblock %}
