| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Dojo Connections{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    nav.level
        .level-left
            .level-item
                h1.title Dojo Connections
        .level-right
            .level-item 
                a.button.is_success(href="{{url_for('dojo.add')}}") Add Dojo
    pre {{status}}

    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            th Onion 
            th API Key
            th &nbsp;

        tbody
            {% if not dojo_connections %}
            tr
                td(colspan=3)
                    a(href="{{url_for('dojo.add')}}") Add Dojo
            {% else %}
            {% for dojo in dojo_connections %}
            tr
                td {{dojo.onion}}
                td {{dojo.apikey}}
                td
                    .buttons.has-addons
                        {% if dojo.is_enabled == False %}
                        a.button.is-success(href="{{url_for('dojo.enable', id=dojo.id)}}") Enable
                        {% else %}
                        a.button.is-warning(href="{{url_for('dojo.disable', id=dojo.id)}}") Disable
                        {% endif %}
                        a.button(href="") Edit 
                        a.button(href="{{url_for('dojo.remove', id=dojo.id)}}") Delete

                
            {% endfor %}
            {% endif %}


| {% endblock %}
| {% block page_js %}
| {% endblock %}
