doctype html
html(lang='en',class="has-navbar-fixed-top")
  head
    | {% block head %}
    title {% block product_title %}{% endblock %} - {% block title %}{% endblock %}
    | {% include 'meta.jade' %}
    | {% block extra_meta %}
    | {% endblock %}
    | {% assets "common_css" %}
    link(rel='stylesheet', type='text/css', href='{{ ASSET_URL }}')
    | {% endassets %}
    script(type='text/javascript').
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    | {% include 'ga.jade' %}
    | {% endblock %}
  body
    | {% block header %}
    | {% include 'payments/header.jade' %}
    | {%endblock%}
    
    | {% block content %}
    | {% endblock %}
    
    | {% block footer %}
    | {% include 'footer.jade' %}
    | {% endblock %} 
    
    | {% assets "common_js" %}
    script(type='text/javascript', src='{{ ASSET_URL }}')
    | {% endassets %}
    
    | {% block page_js %}
    | {% endblock %}
