| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Payments{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    h1.title Payments

    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            th Payment ID
            th Campaign
            th Destination Wallet
            th TX Hash
            th Amount
        tbody
            {% for payment in payments %}
            tr
                td 
                    a(href="{{url_for('payments.payment', payment_id=payment.payment_id )}}") {{payment.payment_id}}
                td {{payment.get_campaign().label}}
                td {{payment.get_wallet().label}}
                td 
                    a(href="https://oxt.me/transaction/{{payment.tx_hash}}", rel="external") {{payment.tx_hash}}
                td {{payment.format_btc_amount()}}

            {% endfor %}

| {% endblock %}
| {% block page_js %}

| {% endblock %}
