| {% extends "payments/base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Donate{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    {% if payment.status == 0 %}
    nav.level
        .level-left
            .level-item
                h1.title Payment
        .level-right
            .level-item 
                a.button.is_danger(href="{{url_for('payments.remove', payment_id=payment.payment_id)}}") Cancel Payment

    {{payment.address}}
    .block
        figure.image.is-256x256
            img(src="{{ qrcode('bitcoin:' + payment.address) }}")
    {% else %}
    
    h1.title Thank you!
    .block
        p Payment ID
        pre {{payment.payment_id}}
    .block
        p TXID
        pre {{payment.tx_hash}}
    .block
        p Amount
        pre {{payment.format_btc_amount()}}
    {% endif %}

| {% endblock %}
| {% block page_js %}
| {% if payment.status == 0 %}

script(type='text/javascript').
    $(function () {
        checkForPayment('{{payment.payment_id}}');
        setInterval(function(){
            checkForPayment('{{payment.payment_id}}')
        }, 15000)
    });
| {% endif %}
| {% endblock %}
