| {% extends "pub/base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Donate{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    h1.title Cancelled Payment

| {% endblock %}
| {% block page_js %}

| {% endblock %}
