nav.navbar.has-background-black-ter.is-fixed-top(role="navigation", aria-label="main navigation")
    .navbar-brand
        a.navbar-item.has-text-white.has-text-weight-bold.is-family-code(href="{{ url_for('core.index') }}") Dojo-POS

