| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Add Campaign{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    h1.title Add Campaign

    form(action="/campaign/add", method="POST", name="add_campaign")
        {{ form.hidden_tag() }}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.label(class="is-rounded is-medium", rows=8, placeholder="Label") }}
                        | {% for error in form.label.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.description(class="is-rounded is-medium", rows=8, placeholder="Description") }}
                        | {% for error in form.description.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.pubkey(class="is-rounded is-medium") }}
                        | {% for error in form.pubkey.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        input.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded(type='submit' value='Add Campaign')


| {% endblock %}
| {% block page_js %}
| {% endblock %}
