| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Add Pubkey{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    h1.title Add Public Key

    form(action="/pubkey/add", method="POST", name="add_pubkey")
        {{ form.hidden_tag() }}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.label(class="is-rounded is-medium", rows=8, placeholder="Label") }}
                        | {% for error in form.label.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        .field 
            .field-body 
                .field 
                    .control.is-expanded 
                        {{ form.pubkey(class="is-rounded is-medium", rows=8, placeholder="Public Key") }}
                        | {% for error in form.pubkey.errors %}
                        p.help.is-danger {{ error }}
                        | {% endfor %}

        input.button.is-block.is-fullwidth.is-primary.is-medium.is-rounded(type='submit' value='Add Public Key')


| {% endblock %}
| {% block page_js %}
| {% endblock %}
