| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Campaigns{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    nav.level
        .level-left
            .level-item
                h1.title Campaigns
        .level-right
            .level-item 
                a.button.is_success(href="{{url_for('core.add_campaign')}}") Add Campaign

    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            tr
                th Label
                th Wallet
                th


        tbody
            {% if not campaigns %}
            tr
                td(colspan=3)
                    a(href="{{url_for('core.add_campaign')}}") Add Campaign
            {% else %}
            {% for campaign in campaigns %}
            tr
                td 
                    a(href="{{url_for('core.campaign', id=campaign.id)}}") {{campaign.label}}
                td {{campaign.get_wallet().label}}
                td
                    .buttons.has-addons
                        {% if campaign.is_enabled == False %}
                        a.button.is-success(href="{{url_for('core.enable_campaign', id=campaign.id)}}") Enable
                        {% else %}
                        a.button.is-warning(href="{{url_for('core.disable_campaign', id=campaign.id)}}") Disable
                        {% endif %}
                        a.button(href="") Edit 
                        a.button(href="{{url_for('core.remove_campaign', id=campaign.id)}}") Delete
            {% endfor %}
            {% endif %}


| {% endblock %}
| {% block page_js %}
| {% endblock %}
