| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Campaign - {{campaign.label}} {% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section

    h1.title {{campaign.label}}
    h2.subtitle {{campaign.description}}

    .block
        p 
            strong Campaign Destination Wallet
        pre {{campaign.get_wallet().pubkey}}



    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            tr
                th Payment ID
                th Destination Wallet
                th Payment Address
                th TX Hash
                th Amount
        tbody
            {% for payment in campaign.payments %}
            tr
                td 
                    a(href="{{url_for('payments.payment', payment_id=payment.payment_id )}}") {{payment.payment_id}}
                td {{payment.get_wallet().label}}
                td {{payment.address}}
                td 
                    a(href="https://oxt.me/transaction/{{payment.tx_hash}}", rel="external") {{payment.tx_hash}}
                td {{payment.format_btc_amount()}}

            {% endfor %}

| {% endblock %}
| {% block page_js %}
| {% endblock %}
