| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Index{% endblock %}

| {% block content %}
main#index
    {% include "messages.jade" %}
    section.section

        h1.title Dashboard
        .block
            .card 
                header.card-header 
                    p.card-header-title Exchange Rate
                .card-content 
                    .content 
                        {{fiat_price}}
        .block
            .card 
                header.card-header 
                    p.card-header-title Dojo
                .card-content 
                    .content 
                        strong URL :
                        br
                        {{dojo.onion}}

                footer.card-footer
                    a.card-footer-item(href="{{url_for('dojo.index')}}") Manage

        .block
            .card 
                header.card-header 
                    p.card-header-title Balances
                .card-content 
                    .content 
                        {% for pubkey in pubkeys %}
                        strong {{pubkey.label}} :
                        br
                        {{pubkey.format_btc_amount()}}
                        {% endfor %}

                footer.card-footer
                    a.card-footer-item(href="{{url_for('core.pubkeys')}}") Manage

| {% endblock %}
| {% block page_js %}
| {% endblock %}
