| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Public Key{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section

    h1.title {{pubkey.label}}
    h2.subtitle {{pubkey.pubkey}}

    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            tr
                th Payment ID
                th Campaign
                th Destination Wallet
                th TX Hash
                th Amount
        tbody
            {% for payment in pubkey.payments %}
            tr
                td 
                    a(href="{{url_for('payments.payment', payment_id=payment.payment_id )}}") {{payment.payment_id}}
                td {{payment.get_campaign().label}}
                td {{payment.get_wallet().label}}
                td 
                    a(href="https://oxt.me/transaction/{{payment.tx_hash}}", rel="external") {{payment.tx_hash}}
                td {{payment.format_btc_amount()}}

            {% endfor %}


    .block
      h3.is-size-5 20 Fresh Addresses
      .content
          ol
              {% for address in addresses %}
              li 
                  a(href="https://oxt.me/address/{{address}}", rel="external") {{address}}
              {% endfor %}

| {% endblock %}
| {% block page_js %}
| {% endblock %}
