| {% extends "base.jade" %}
| {% block product_title %}Dojo-POS{% endblock %}
| {% block title %}Public Keys{% endblock %}

| {% block content %}
main#index
  {% include "messages.jade" %}
  section.section
    nav.level
        .level-left
            .level-item
                h1.title Public Keys
        .level-right
            .level-item 
                a.button.is_success(href="{{url_for('core.add_pubkey')}}") Add Public Key

    table.table.is-striped.is-fullwidth.is-hoverable
        thead
            th Label 
            th Public Key
            th Balance 
            th Current Index
            th &nbsp;

        tbody
            {% if not pubkeys %}
            tr
                td(colspan=3)
                    a(href="{{url_for('core.add_pubkey')}}") Add Public Key
            {% else %}
            {% for pubkey in pubkeys %}
            tr
                td 
                    a(href="{{url_for('core.pubkey', id=pubkey.id)}}") {{pubkey.label}}
                td {{pubkey.pubkey}}
                td {{pubkey.format_btc_amount()}}
                td {{pubkey.current_index}}
                td
                    .buttons.has-addons
                        a.button(href="{{url_for('core.remove_pubkey', id=pubkey.id)}}") Delete

                
            {% endfor %}
            {% endif %}


| {% endblock %}
| {% block page_js %}
| {% endblock %}
