nav.navbar.has-background-black-ter.is-fixed-top(role="navigation", aria-label="main navigation")
    .navbar-brand
        a.navbar-item.has-text-white.has-text-weight-bold.is-family-code(href="{{ url_for('core.index') }}") Dojo-POS

        a.navbar-burger(role="button",aria-label="menu",aria-expanded="false", data-target="navbarBasic")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    #navbarBasic.navbar-menu
        .navbar-start
            {% if current_user.is_anonymous %}
            {% else %}
            a.navbar-item.has-text-primary(href="") {{current_user.name}}
            a.navbar-item.has-text-primary(href="{{url_for('dojo.index')}}") Dojo Connections
            a.navbar-item.has-text-primary(href="{{url_for('core.pubkeys')}}") Public Keys
            a.navbar-item.has-text-primary(href="{{url_for('core.campaigns')}}") Campaigns
            a.navbar-item.has-text-primary(href="{{url_for('payments.index')}}") Payments

            {% endif %}
        .navbar-end
            .buttons
                {% if current_user.is_anonymous %}
                a.button.is-dark(href="{{url_for('auth.login')}}") Login
                {% else %}
                a.button.is-dark(href="{{url_for('auth.logout')}}") Logout
                {% endif %}