| {% with messages = get_flashed_messages() %}
| {% if messages %}
.block
  .notification.is-info
    button.delete
    {% for message in messages %}
    {{ message }}
    {% endfor %}
| {% endif %}
| {% endwith %}
