meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
meta(http-equiv='content-type', content='text/html; charset=utf-8')
link(rel='shortcut icon', href="{{ url_for('static', filename='public/favicon/favicon.ico') }}")
